.item {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.avatar {
  box-shadow: 0 0 10px rgba(50, 54, 61, 0.5);
  background-color: rgb(217, 240, 243);
  border-radius: 5px;
  display: block;
  width: 90px;
  height: 90px;
  margin-right: 30px;
  padding: 5px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(75, 153, 51);
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.offline {
  background-color: rgb(243, 9, 40);
}

.name {
  font-size: 30px;
  font-weight: 600;
}
